langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-google-genai
langchain-chroma
langchain-huggingface

chromadb
rank-bm25

pypdf
docx2txt

sentence-transformers
transformers

--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio

streamlit
fastapi
uvicorn
python-multipart

datasets
kagglehub

python-dotenv
